In [1]:
import pandas as pd

In [2]:

df = pd.read_csv('clinical_trial_data.csv')
df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [3]:
df.to_html('clinical_trial_data.html')

In [4]:
df2 = pd.read_csv('mouse_drug_data.csv')
df2.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [5]:
df2.to_html('mouse_drug_data.html')